
<!-- {{unSalarie|json}} -->
<div class="user-detail-container">
  <!--   ya dekhi -->
      <div class="user-detail">
        <div class="upper-card">
        <div class="row">
          <div class="col-md-6">
            <div class="card user-profile-card" data-mh="card-one">
              <div class="card-img-top">
                <img src="https://specials-images.forbesimg.com/imageserve/5c76b7d331358e35dd2773a9/416x416.jpg?background=000000&cropX1=0&cropX2=4401&cropY1=0&cropY2=4401" alt="">
              </div>
              <div class="card-body">
                <h3>{{unSalarie.name}}</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, neque nemo assumenda placeat distinctio deleniti!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card user-detail-card" data-mh="card-one">
              <p><span>Gender :</span> Male</p>
              <p><span>Email :</span> markzuck@example.com</p>
              <p><span>Age :</span> 25 </p>
              <p><span>Location :</span> Near Kathmandu</p>
              <p><span>Joined Date :</span> 2019-02-22</p>
              <p><span>Contact no. :</span> 9863265226, 9568442262</p>
            </div>
          </div>
        </div>
          </div>
        <div class="lower-card">
            <div class="card">
              <div class="box">
                  <!-- User Detail -->
                  <div class="parent-container">
                    <ul class="faq">
                      <li>
                        <h3 class="question">
                          Personal Detail
                          <div class="plus-minus-toggle collapsed"></div>
                        </h3>
                        <div class="answer">
                          <p class="list-title">Full Name :</p>
                          <span>{{unSalarie.name}}</span>
                          <p class="list-title">Age :</p>
                          <span>25</span>
                          <p class="list-title">Location :</p>
                          <span>{{unSalarie.username}}</span>
                          <p class="list-title">Date of Birth :</p>
                          <span>{{unSalarie.phone}}</span>
                          <p class="list-title">Gender :</p>
                          <span>Male</span>
                          <p class="list-title">About Me :</p>
                          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sunt in. Suscipit odit recusandae ipsa.</span>
                        </div>
                      </li>
                      <li>
                        <h3 class="question">Manage Image
                          <div class="plus-minus-toggle collapsed"></div>
                        </h3>
                        <div class="answer">
                          <div class="img-gallery">
                            <img src="https://pmcvariety.files.wordpress.com/2018/08/j-lo.jpg?w=1000" alt="">
                            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/17/10/jlo-vanity-fair.jpg" alt="">
                            <img src="https://cdn3.iconfinder.com/data/icons/user-with-laptop/100/user-laptop-512.png" alt="">
                            <img src="https://cdn3.iconfinder.com/data/icons/user-with-laptop/100/user-laptop-512.png" alt="">
                          </div>
                        </div>
                      </li>
                      <li>
                        <h3 class="question">Your Interest
                          <div class="plus-minus-toggle collapsed"></div>
                        </h3>
                        <div class="answer">
                          <p class="list-title">Full Name :</p>
                          <span>Suraj Maharjan</span>
                          <p class="list-title">Age :</p>
                          <span>25</span>
                          <p class="list-title">Location :</p>
                          <span>Near Kathmandu</span>
                          <p class="list-title">Date of Birth :</p>
                          <span>1995-023-13</span>
                          <p class="list-title">Gender :</p>
                          <span>Male</span>
                          <p class="list-title">About Me :</p>
                          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sunt in. </span>
                        </div>
                      </li>
                      <li>
                        <h3 class="question">My Prefrences
                          <div class="plus-minus-toggle collapsed"></div>
                        </h3>
                        <div class="answer">
                          <p class="list-title">Full Name :</p>
                          <span>Suraj Maharjan</span>
                          <p class="list-title">Age :</p>
                          <span>25</span>
                          <p class="list-title">Location :</p>
                          <span>Near Kathmandu</span>
                          <p class="list-title">Date of Birth :</p>
                          <span>1995-023-13</span>
                          <p class="list-title">Gender :</p>
                          <span>Male</span>
                          <p class="list-title">About Me :</p>
                          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sunt in. </span>
                        </div>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
          </div>
  <!--   ya samma -->
  </div>
